extends ./base/base-new.pug
block title 
    title Piezas Lima Oct 12
block css
    link(rel='stylesheet', href='../styles/piezas-oct-12.css')
    
block table-1-td-2
    td(align='center' height='20' style='')
        img(src='./images/piezas-oct-12/piezas-oct-12-1.png' width='523' border='0' style='vertical-align:top;')

block table-2-tr-1
    tr
        td(height='14')
    tr
        td.bgcolor(width='570' align='center' valign='top')
            img(src='./images/piezas-oct-12/piezas-oct-12-2.jpg' width='570' border='0' style='vertical-align:top;')
   

block table-2-sub-table-td-1
    td(height='41')

block table-2-sub-table-tr-3-img-text    
    img(src='./images/piezas-oct-12/piezas-oct-12-3.png' width='250' border='0' style='vertical-align:top;')

block table-2-sub-table-tr-3    
block table-2-sub-table-tr-4

block table-2-sub-table-tr-5-blank-space
    td(height='29')
block table-2-sub-table-td-5-button
    a(href='#' target='_blank')
        img(src='./images/piezas-oct-12/piezas-oct-12-4.png' width='169' border='0' style='vertical-align:top;')
block table-3