html
    head
        block title
        meta(charset='utf-8')
        meta(name='format-detection' content='telephone=no')
        meta(content='email=no' name='format-detection')
        meta(content='width=device-width' name='viewport')
        block css
    body(marginheight='0' marginwidth='0' topmargin='0' rightmargin='0' leftmargin='0' bgcolor='#FFFFFF' yahoo='fix' yahoofix='')
        table(width='100%' border='0' cellspacing='0' cellpadding='0')
            tbody
                tr
                    td(align='center' valign='top' bgcolor='#FFFFFF')
                        block table-1
                            table(width='570' align='center' border='0' cellspacing='0' cellpadding='0' bgcolor='#ffffff')
                                tbody
                                    block table-1-tr-1
                                        tr
                                            block table-1-td-1
                                                td(align='left' height='15' style='color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:10px;')
                                    
                                    block table-1-tr-2
                                        tr
                                            block table-1-td-2
                                                    td(align='left' height='20' style='')
                                                        block table-1-text
                                                            span.text-header Si no puedes leer el contenido del correo&nbsp;
                                                        block table-1-link
                                                            a.text-link(href='https://mailing.serviciosmovistar.com/2020/Octubre/HellsKitchen/index.html' target='_blank') haz clic aquí
                        block table-2
                            table.table-2.bgcolor(width='570' align='center' border='0' cellspacing='0' cellpadding='0')
                                tbody
                                    block table-2-tr-1
                                        tr
                                            block table-2-td-1
                                                td.bgcolor(width='570' align='center' valign='top')
                                                    block table-2-banner
                                                        img(src='https://mailing.serviciosmovistar.com/2020/Octubre/HellsKitchen/banner.png' width='570' border='0' style='vertical-align:top;')
                                    block table-2-tr-2
                                        tr
                                            block table-2-td-2
                                                td.bgcolor(width='570' align='center' style='padding-bottom: 35px;')
                                                    block table-2-sub-table
                                                        table.bgcolor(width='410' valign='top' align='center' cellpadding='0' cellspacing='0' border='0')
                                                            tbody
                                                                block table-2-sub-table-tr-1
                                                                    tr
                                                                        block table-2-sub-table-td-1
                                                                            td(height='1')
                                                                block table-2-sub-table-tr-2
                                                                    tr
                                                                        block table-2-sub-table-td-2
                                                                            td(width='410' align='center' valign='top')
                                                                                block table-2-sub-table-tr-3-img-text
                                                                                    img(src='https://mailing.serviciosmovistar.com/2020/Octubre/HellsKitchen/text_1.png' width='351' border='0' style='vertical-align:top;')
                                                                block table-2-sub-table-tr-3
                                                                    tr
                                                                        block table-2-sub-table-td-3
                                                                            td(height='25')
                                                                
                                                                block table-2-sub-table-tr-4
                                                                    tr
                                                                        block table-2-sub-table-td-4
                                                                            td(width='410' align='center' valign='top')
                                                                                block table-2-sub-table-tr-4-img-text
                                                                                    img(src='https://mailing.serviciosmovistar.com/2020/Octubre/HellsKitchen/text_2.png' width='243' border='0' style='vertical-align:top;')
                                                                block table-2-sub-table-tr-5
                                                                    tr
                                                                        block table-2-sub-table-tr-5-blank-space
                                                                            td(height='25')
                                                                block table-2-sub-table-tr-6
                                                                    tr
                                                                        block table-2-sub-table-td-5
                                                                            td(width='153' align='center' valign='top')
                                                                                block table-2-sub-table-td-5-button
                                                                                    a(href='https://www.movistarplay.com.pe/tv-guide/now' target='_blank')
                                                                                        img(src='https://mailing.serviciosmovistar.com/2020/Octubre/HellsKitchen/btn.png' width='153' border='0' style='vertical-align:top;')
                        
                        block table-3
                            table.bgcolor(width='570' align='center' border='0' cellspacing='0' cellpadding='0')
                                tbody
                                    block table-3-tr
                                        tr
                                            block table-3-td
                                                td(width='570' align='center')
                                                    block table-2-sub-table-1
                                                        table(width='414' align='center' cellpadding='0' cellspacing='0' border='0')
                                                            tbody
                                                                block table-2-sub-table-1-tr
                                                                    tr
                                                                        block table-2-sub-table-1-td
                                                                            td(align='center' width='414' style='padding-top: 7px; padding-bottom: 20px')
                                                                                block table-2-sub-table-1-img
                                                                                    img(src='https://mailing.serviciosmovistar.com/2020/Octubre/HellsKitchen/Multidispositivos.png' width='414' border='0')
                                                    block table-2-sub-table-2
                                                        table(width='400' align='center' cellpadding='0' cellspacing='0' border='0')
                                                                tbody
                                                                    block table-2-sub-table-2-tr
                                                                        tr
                                                                            block table-2-sub-table-2-td
                                                                                td(width='171' align='center' style='padding-top: 18px')
                                                                                    block table-2-sub-table-2-img
                                                                                        img(src='https://mailing.serviciosmovistar.com/2020/Octubre/HellsKitchen/marca.png' width='171' border='0')
                                                    block table-2-sub-table-3
                                                        table(width='400' align='center' cellpadding='0' cellspacing='0' border='0')
                                                            tbody
                                                                block table-2-sub-table-3-tr
                                                                    tr
                                                                        block table-2-sub-table-3-td
                                                                            td(width='400' align='center')
                                                                               block table-2-sub-table-3-legal
                                                                                    p(style='color: #747474; font-size: 10px; font-family:Arial, Helvetica, sans-serif; line-height: normal; text-align: justify; margin-bottom: 80px; margin-top: 20px; width: 400px;')
                                                                                        | El sistema de correo electrónico de Movistar está destinado únicamente para fines informativos del negocio, cualquier otro uso contraviene las políticas de Telefónica del Perú S.A.A. Toda la información del negocio contenida en este mensaje es confidencial
                                                                                        | y de uso exclusivo de Telefónica del Perú. Su divulgación, copia y/o adulteración están prohibidas y solo debe ser conocida por la persona a quien se dirige este mensaje. Si prefieres no continuar recibiendo
                                                                                        | comunicaciones de Movistar por e-mail, haz clic aquí y solo presiona el botón anular. Recibirás un correo en el que se te notificará que tu inscripción ha sido anulada.